@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    h2{
        font-size: 38px;
    }
    p{
        margin: 0 auto;
    }
    body{
        text-align: center;
    }
    img{
        text-align: center;
    }
}